/* Overview start */
.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}

.section span {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.section img {
  margin-right: 0.5rem;
  width: 15px;
  height: 15px;
}

.stats {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 45%;
  max-width: 45%;
}

.barCals,
.barSteps,
.barTime {
  width: 55%;
  height: 20px;
  border-radius: 5px;
}

.barFillCals,
.barFillSteps,
.barFillTime {
  border-radius: 5px;
  height: 100%;
  animation: fillAnimation 1s ease-out;
}

.barCals {
  background-color: var(--bar-color);
}

.barSteps {
  background-color: var(--bar-color);
}

.barTime {
  background-color: var(--bar-color);
}

.barFillCals {
  background-color: #e3b934;
}

.barFillSteps {
  background-color: #704300;
}

.barFillTime {
  background-color: #c32730;
}

@keyframes fillAnimation {
  0% {
    width: 0%;
  }
}
